APP_NAME=RentManager API
APP_ENV=dev
PRODUCTION_ENV=false
APP_DEBUG=true
APP_SECRET_KEY=change-me-in-real-environments-32b
JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH=.keys/private_key.pem
JWT_PUBLIC_KEY_PATH=.keys/public_key.pem
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=mysql+pymysql://rentmanager:rentmanager@mysql:3306/rentmanager
IAM_ADMIN_USERNAME=admin
IAM_ADMIN_PASSWORD=Admin123*
IAM_ADMIN_FIRST_NAME=System
IAM_ADMIN_LAST_NAME=Administrator
IAM_ADMIN_EMAIL=admin@local.dev
IAM_ADMIN_ROLE=ADMIN

