APP_NAME=RentManager API
APP_ENV=dev
APP_DEBUG=true
APP_SECRET_KEY=change-me-in-real-environments-32b
JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH=.keys/private_key.pem
JWT_PUBLIC_KEY_PATH=.keys/public_key.pem
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
DATABASE_URL=mysql+pymysql://rentmanager:rentmanager@mysql:3306/rentmanager

